timerIsActive.json
[{"id":"635ea3af25fe43a0","type":"ui_time_scheduler","z":"0e50af658043f22c","group":"95eb1446bdcebb72","name":"scheduledTasks","startDay":"1","refresh":60,"devices":["Raum 012"],"singleOff":false,"onlySendChange":false,"customPayload":false,"eventMode":false,"eventOptions":[],"sendTopic":false,"lat":"","lon":"","customContextStore":"file","outputs":2,"order":1,"width":"6","height":"5","x":120,"y":600,"wires":[["45a56ce7718061e3","fcd5ae10cfbaa663"],["a79c4ec52db6ac03","97ae8d5e50c693b2"]],"outputLabels":["","Raum 012"]},{"id":"45a56ce7718061e3","type":"function","z":"0e50af658043f22c","name":"Früheste Einzeit minus Variable Vorstartzeit","func":"// Eingehende Nachricht verarbeiten und frühste Startzeit des aktuellen Tags ermitteln\nvar scheduledTasks = JSON.parse(msg.payload);\n\nnode.warn(\"Inhalt der empfangenen Nachricht: \" + JSON.stringify(scheduledTasks));\n\nif (scheduledTasks && scheduledTasks.timers && scheduledTasks.timers.length > 0) {\n    var now = new Date();\n    var todayIndex = now.getDay(); // Wochentag als Index (0=Sonntag, 1=Montag, ..., 6=Samstag)\n    var earliestStartToday;\n\n    for (var i = 0; i < scheduledTasks.timers.length; i++) {\n        var taskStartTime = new Date(scheduledTasks.timers[i].starttime);\n        var taskDays = scheduledTasks.timers[i].days;\n\n        // Prüfen, ob die Aufgabe am heutigen Tag stattfindet\n        if (taskDays[todayIndex] === 1) {\n            node.warn(\" timer for today found\");\n            // Vergleichen Sie nur das Datum ohne Berücksichtigung der Zeitzone\n            var taskDateOnly = new Date(taskStartTime.getFullYear(), taskStartTime.getMonth(), taskStartTime.getDate());\n            var nowDateOnly = new Date(now.getFullYear(), now.getMonth(), now.getDate());\n\n            if (taskDateOnly.getTime() === nowDateOnly.getTime()) {\n                if (!earliestStartToday || taskStartTime < earliestStartToday) {\n                    earliestStartToday = taskStartTime;\n                }\n            }\n        }\n    }\n\n    if (earliestStartToday) {\n        msg.payload = \"Die frühste Startzeit des aktuellen Tages ist um \" + earliestStartToday.toLocaleString();\n\n        // Die frühste Startzeit in die flow.variable übergeben\n        flow.set('fruehesteStartzeit', earliestStartToday);\n\n        // Von der frühsten Startzeit die angegebene Zeit abziehen und in eine neue flow.variable übergeben\n        var VorstartZeit = flow.get('abzugsZeit', 'file') || 0; // Wert der flow.variable 'abzugsZeit' lesen\n        var newTime = new Date(earliestStartToday.getTime() - VorstartZeit * 60000); // Vorstartzeit in Minuten in Millisekunden umrechnen\n        flow.set('neueZeit_Startzeit', newTime);  // neueZeit_Startzeit= Die neue Startzeit nach abzug der Vorstartzeit\n    } else {\n        node.warn(\"Keine geplanten Aufgaben für den heutigen Tag gefunden\");\n        msg.payload = \"Keine geplanten Aufgaben für den heutigen Tag gefunden\";\n    }\n} else {\n    node.warn(\"Keine geplanten Aufgaben gefunden\");\n}\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":520,"wires":[[]]},{"id":"fcd5ae10cfbaa663","type":"debug","z":"0e50af658043f22c","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":340,"y":560,"wires":[]},{"id":"a79c4ec52db6ac03","type":"debug","z":"0e50af658043f22c","name":"debug 3","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":340,"y":660,"wires":[]},{"id":"8e33cb358e4271d6","type":"ui_numeric","z":"0e50af658043f22c","name":"","label":"Sollwert Tag","tooltip":"","group":"95eb1446bdcebb72","order":1,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":"5","max":"25","step":1,"className":"","x":310,"y":340,"wires":[["de94622357e3d816"]]},{"id":"e383edf8fb089bac","type":"ui_numeric","z":"0e50af658043f22c","name":"","label":"Sollwert Nacht","tooltip":"","group":"95eb1446bdcebb72","order":1,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":"5","max":"25","step":1,"className":"","x":320,"y":380,"wires":[["ade64f4879a787ba"]]},{"id":"d0627ffbbedf9f06","type":"ui_numeric","z":"0e50af658043f22c","name":"","label":"FEZ_Abzug","tooltip":"","group":"95eb1446bdcebb72","order":1,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":"0","max":"60","step":"5","className":"","x":310,"y":420,"wires":[["9b1e15869c047e28"]]},{"id":"5e6e4361746b3056","type":"inject","z":"0e50af658043f22c","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"#:(file)::sollTag","payloadType":"flow","x":130,"y":340,"wires":[["8e33cb358e4271d6"]]},{"id":"8c70307edb9f8465","type":"inject","z":"0e50af658043f22c","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"#:(file)::sollNacht","payloadType":"flow","x":140,"y":380,"wires":[["e383edf8fb089bac"]]},{"id":"4f422475cff44373","type":"inject","z":"0e50af658043f22c","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"#:(file)::abzugsZeit","payloadType":"flow","x":140,"y":420,"wires":[["d0627ffbbedf9f06"]]},{"id":"de94622357e3d816","type":"change","z":"0e50af658043f22c","name":"","rules":[{"t":"set","p":"#:(file)::sollTag","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":340,"wires":[[]]},{"id":"ade64f4879a787ba","type":"change","z":"0e50af658043f22c","name":"","rules":[{"t":"set","p":"#:(file)::sollNacht","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":380,"wires":[[]]},{"id":"9b1e15869c047e28","type":"change","z":"0e50af658043f22c","name":"","rules":[{"t":"set","p":"#:(file)::abzugsZeit","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":420,"wires":[[]]},{"id":"97ae8d5e50c693b2","type":"function","z":"0e50af658043f22c","name":"Vergleich akt Uhrzeit mit Vorstartzeit","func":"var result = msg.payload;\nvar lastState = flow.get('lastSchedulerState') || false;\n\nvar currentDate = new Date();  \nvar currentTimeAsString = currentDate.getHours() + currentDate.getMinutes() + currentDate.getSeconds();\n\nvar neueZeit_Startzeit = flow.get(\"neueZeit_Startzeit\") || 0;\nif (neueZeit_Startzeit != 0) {\n    var timeAsString = neueZeit_Startzeit.getHours() + neueZeit_Startzeit.getMinutes() + neueZeit_Startzeit.getSeconds();\n    if (timeAsString <= currentTimeAsString &&     // Einschaltzeit erreicht\n        (lastState == false || result == false)) { // \"false\" vom Scheduler = aus\n        result = true;\n    }\n}\n\nflow.set('lastSchedulerState', msg.payload);\n\nreturn {payload: result};","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":620,"wires":[["80e871e656264234","fb593963147f9287"]],"icon":"node-red/switch.svg"},{"id":"80e871e656264234","type":"debug","z":"0e50af658043f22c","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":680,"y":640,"wires":[]},{"id":"fb593963147f9287","type":"rbe","z":"0e50af658043f22c","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":670,"y":600,"wires":[["75d25b1e7fad7656"]]},{"id":"e525a2d815a44ff9","type":"debug","z":"0e50af658043f22c","name":"debug 5","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1020,"y":600,"wires":[]},{"id":"75d25b1e7fad7656","type":"change","z":"0e50af658043f22c","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"#:(file)::sollTag","tot":"flow"},{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"#:(file)::sollNacht","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":600,"wires":[["e525a2d815a44ff9"]]},{"id":"95eb1446bdcebb72","type":"ui_group","name":"Group 1","tab":"3d42eaec0f4dfcfa","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"3d42eaec0f4dfcfa","type":"ui_tab","name":"Tab 2","icon":"dashboard","order":2,"disabled":false,"hidden":false}]