timerIsActive.json
[{"id":"d563484b.c447f8","type":"inject","z":"f668503c.50cb3","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":820,"wires":[["8f5d4323.2f871"]]},{"id":"8f5d4323.2f871","type":"function","z":"f668503c.50cb3","name":"flow-Variable Vergangenheit setzen","func":"var now = new Date();\nflow.set(\"neueZeit_Startzeit\", new Date(now.getTime() - 900 * 1000));\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":820,"wires":[[]]},{"id":"9d658f4.c075e7","type":"function","z":"f668503c.50cb3","name":"","func":"var flowDate = flow.get(\"neueZeit_Startzeit\") || 0;\nvar greaterEqual = false;\nvar lessThan = false;\n\nif (flowDate != 0) {\n    var currentDate = new Date();  \n    var currentTimeAsString = currentDate.getHours() + currentDate.getMinutes() + currentDate.getSeconds();\n    var flowTimeAsString = flowDate.getHours() + flowDate.getMinutes() + flowDate.getSeconds();\n    \n    if (flowTimeAsString >= currentTimeAsString) {\n        greaterEqual = true;\n    } else if (flowTimeAsString < currentTimeAsString) {\n        lessThan = true;\n    }\n}\n\nreturn [{payload: greaterEqual}, {payload: lessThan}];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":360,"y":940,"wires":[["8b5dba69.ea86d8"],["be59139.fcce0f"]],"icon":"node-red/switch.svg"},{"id":"8b5dba69.ea86d8","type":"debug","z":"f668503c.50cb3","name":"größerGleich","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":530,"y":920,"wires":[]},{"id":"ad9fa316.15997","type":"inject","z":"f668503c.50cb3","name":"Test","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":940,"wires":[["9d658f4.c075e7"]]},{"id":"e128fe7f.cdb59","type":"inject","z":"f668503c.50cb3","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":780,"wires":[["bc5b452a.168db8"]]},{"id":"bc5b452a.168db8","type":"function","z":"f668503c.50cb3","name":"flow-Variable Zukunft setzen","func":"var now = new Date();\nflow.set(\"neueZeit_Startzeit\", new Date(now.getTime() + 600 * 1000));\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":780,"wires":[[]]},{"id":"be59139.fcce0f","type":"debug","z":"f668503c.50cb3","name":"kleiner","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":510,"y":980,"wires":[]}]
